<!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div> -->
<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpcreated)="onBlueprintAdded($event)">

    </app-cockpit>
    <hr>
    <div class="row">
        <div class = "col-md-12">
            <app-server *ngFor="let serverElement of serverElement" 
            [srvElement]="serverElement"></app-server>
        </div>
    </div>
</div>